html {
    scroll-behavior: smooth;
}


.apexcharts-title-text {
    display: none;
}

@media (min-width: 1024px) {
    .apexcharts-title-text {
        display: block;
    }
}

.highlighted_search em {
    text-decoration: underline;
}
